.navbar ul li {
    font-size: 1rem;
}

.navbar ul li a {
    padding: 8px 15px;
}

/* home section */
#home {
    height: 675px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bn {
    padding: 8px 20px;
    margin-bottom: 20px;
}

.left-cont,
.right-cont {
    width: 100%;
    padding: 20px;
}
.content {
    text-align: center;
    padding: 0 10px; 
}
.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}
.design .circle {
    left: 48%;
    top: 3%;
    transform: none;
}
.circle:nth-child(1) {
    width: 7.5rem;
}
.circle:nth-child(2) {
    background-color: white;
    width: 7.5rem;
    background-image: url("assets/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* about section */
#about {
    padding: 20px; 
    box-sizing: border-box;
}
#pic {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#pic img {
    max-width: 30%; 
    height:50%;
}
#intro {
    text-align: justify;
    padding: 25px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 1.5rem;
}

/* skills section */
#skills {
    padding-bottom: 0px;
}
.container {
    grid-template-columns: repeat(2, 1fr); 
    padding: 1rem;
}

/* projects section */
#projects {
    padding: 20px;
}
.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    width: 45%; 
    margin: 10px;
    box-sizing: border-box; 
    overflow: hidden;
    position: relative;
}
.box img {
    width: 100%;
    height: auto;
}
.headings {
    padding-bottom: 20px;
    font-size: 1.9rem;
    text-align: center;
}
.box .project-description {
    max-width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* resume section */
#resume {
    padding: 20px;
}
.res {
    padding: 110px;
}

/* contact section */
#contact {
    padding: 20px;
}
.input {
    width: 70%; 
}
#msg {
    width: 70%; 
}
#send {
    width: 50%; 
}
#footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
