*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:url(assets/images/bg.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:60px ;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1;
}
.navbar ul li a:hover{
    background-color:transparent;
    color:#000000;
    font-weight: bold;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col0{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    text-align: justify;
}
.button{
    width: 180px;
    font-size: 15px;
    padding: 12px 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color:#ffffff;
    transition: .6s ease;
}
.button:hover{
    cursor:pointer;
    background:linear-gradient(#ffe998,#00080b);
    color:#00080b;
    box-shadow: 0 0 20px #ffffff,0 0 10px #ffe998, 0 0 10px #ffffff;
    font-weight: bold;
}

.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col {
    width: calc(100% - 2rem);
    margin: 4rem;
    cursor: pointer;
}

.cont {
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-perspective: 1000px;
            perspective: 1000px;
            width: 320px; 
            height: 260px;
            display:inline-block;
            border-radius: 10px;
            padding: 10px 25px;
            cursor: pointer;
            box-sizing: border-box;
            margin: 15px;
            background-position: center;
        }

        .front,
        .back {
            background-size: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            background-position: center;
            -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            text-align: center;
            min-height: 280px;
            height: auto;
            color: #fff;
            font-size: 1.5rem;
        }

        .back {
            background: #0b0b0b;
            background: -webkit-linear-gradient(45deg, #00060a 0%, #00070a 100%);
            background: -o-linear-gradient(45deg, #00080e 0%, #00080b 100%);
            background: linear-gradient(45deg, #00060a 0%, #000304 100%);
        }

        .front:after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            content: '';
            display: inline-block;
            opacity: .6;
            background-color: #000;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 10px;
        }

        .cont:hover .front,
        .cont:hover .back {
            -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        }

        .back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        .inner {
            -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
            top: 50%;
            position: absolute;
            left: 0;
            width: 100%;
            padding: 2rem;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: 1px solid transparent;
            -webkit-perspective: inherit;
            perspective: inherit;
            z-index: 2;
        }

        .cont .back {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .cont .front {
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .cont:hover .back {
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .cont:hover .front {
            -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .front .inner p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            position: relative;
            text-align: center;
        }

        .front .inner p:after {
            content: '';
            width: 5rem;
            height: 2px;
            position: absolute;
            background: #C6D4DF;
            display:inline-block;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -.75rem;
        }

        .front .inner span {
            color: rgba(255, 255, 255, 0.7);
            font-family: 'Montserrat';
        }